<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Chapter 5 - My MCM Story Card</h2>

    {% for card in cards %}
        <div>
            <h3>{{ card.title }}</h3>
            <p>{{ card.card_text }}</p>

            <form method="post" action="{% url 'chapter5-result-view' selection.id %}">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <button type="submit" name="choose">CHOOSE THIS JOURNEY</button>
                <button type="submit" name="deciding">STILL DECIDING</button>
            </form>
        </div>
        <hr>
    {% empty %}
        생성된 카드가 없습니다.
    {% endfor %}
</body>
</html>